body {
    font-family: 'Open Sans', sans-serif;
}
.p{
    background-color: red;
}

.table thead{
    background-color: #5B98BB;
    color: white;
    font-weight: bold;
}

.required-field{
    color: red;
    font-weight: bold;
}